:root {
  /* Primary colors */
  --card-colour-violet: hsl(263, 55%, 52%);
  --card-colour-grayblue: hsl(217, 19%, 35%);
  --card-colour-blackblue: hsl(219, 29%, 14%);
  --card-colour-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  padding-top: 16.4rem;
}

.main-container {
  border: 1px solid purple;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "card-dan card-dan card-jon card-kira"
    "card-jean card-pat card-pat card-kira";
  margin: 0 auto;
  max-width: 111rem;
}

.card--small {
  max-width: 25.5rem;
}
.card--large {
  max-width: 54rem;
}

.card-dan {
  grid-area: card-dan;
}

.card-jon {
  grid-area: card-jon;
}

.card-kira {
  grid-area: card-kira;
}

.card-jean {
  grid-area: card-jean;
}

.card-pat {
  grid-area: card-pat;
}

.card--txt--colour {
  color: white;
}

.card--colour--violet {
  background-color: var(--card-colour-violet);
}
.card--colour--grayblue {
  background-color: var(--card-colour-grayblue);
}
.card--colour--blackblue {
  background-color: var(--card-colour-blackblue);
}
.card--colour--white {
  background-color: var(--card-colour-white);
}

.person__container {
  border: 1px solid peru;
  padding: 2.6rem 3.2rem 3.2rem;
}

.name__details {
  display: flex;
  flex-direction: column;
}

.person__photo {
  border-radius: 50%;
  max-width: 2.8rem;
}

.person__details__container {
  display: flex;
}

.card__text {
  font-size: 2rem;
  padding-bottom: 2.4rem;
}
.card__quote {
  font-size: 1.4rem;
}
