:root {
  /* Primary colors */
  --colour-violet: hsl(263, 55%, 52%);
  --colour-grayblue: hsl(217, 19%, 35%);
  --colour-blackblue: hsl(219, 29%, 14%);
  --colour-white: hsl(0, 0%, 100%);

  /* Neutral */
  --main-bg-colour: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--main-bg-colour);
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 16.4rem 0;
}

.main-container {
  /* border: 1px solid purple; */
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2 1fr);
  /* grid-template-rows: 1fr 28rem; */
  grid-template-areas:
    "card-dan card-dan card-jon card-kira"
    "card-jean card-pat card-pat card-kira";
  margin: 0 auto;
  max-width: 111rem;
  position: relative;
  /* min-height: 57.2rem; */
}

.card {
  border-radius: 8px;
  box-shadow: 2px 7px 20px 10px #d3dbe3;
}

.card--small {
  max-width: 25.5rem;
}
.card--large {
  max-width: 54rem;
}

.card-dan {
  background-color: var(--colour-violet);
  grid-area: card-dan;
}

.card-jon {
  background-color: var(--colour-grayblue);
  grid-area: card-jon;
}

.card-kira {
  grid-area: card-kira;
}

.card-jean {
  grid-area: card-jean;
}

.card-pat {
  background-color: var(--colour-blackblue);
  grid-area: card-pat;
}

.card-jean,
.card-kira {
  background-color: var(--colour-white);
}

.card--text-colorgrayblue {
  color: var(--colour-grayblue);
}

.card--txtcolour--white {
  color: white;
}

.person__container {
  /* border: 1px solid peru; */
  padding: 2.6rem 3.2rem 2.6rem 3.2rem;
}

.person__details__container {
  display: flex;
  gap: 1.7rem;
  padding-bottom: 1.8rem;
  position: relative;
  z-index: 1;
}

.dan__quotes__img {
  max-width: 10.4rem;
  position: absolute;
  left: 68%;
  top: -25px;
  z-index: -1;
}

.name__details {
  display: flex;
  flex-direction: column;
}

.person__photo {
  border-radius: 50%;
  max-width: 2.8rem;
}

.person__photo--pat {
  border: 2px solid #733fc8;
}

.person__photo--dan {
  border: 2px solid #a775f1;
}

.name {
  font-size: 1.4rem;
}

.status {
  font-size: 1.2rem;
  opacity: 0.5;
}
.card__quote {
  font-size: 1.3rem;
  line-height: 2rem;
  opacity: 0.7;
}
.card__text {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2.4rem;
  position: relative;
  z-index: 3;
}

/* Maedia Queries */

@media (max-width: 900px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 32.8rem;
  }

  .dan__quotes__img {
    left: 65%;
  }

  .card-pat:nth-of-type(5) {
    order: 4;
  }

  .card-jean:nth-of-type(4) {
    order: 3;
  }
  .card-kira:nth-of-type(3) {
    order: 5;
  }
}
